body {
/*   background-color: #162234;
 */  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron {
  text-align: center;
}

.container {
  margin-top: 100px;
  height: 200px;
  width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: gray;
  border-radius: 25px;
  padding-bottom: 10px;

}

.container background-image{
  height: 1150;
  width: 150;
  border: 11px solid yellow;
}

.imageStylin {
  width: 200px;
  height: 200px;
}
