body {
  background-color: #162234;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    background-image: url(images/broken_television_by_samgoesdown.jpg); background-repeat: none; background-size: cover; background-position: center; position: fixed;
 */}

.jumbotron {
  text-align: center;
}

.container {
  margin-top: 100px;
  height: 200px;
  width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: gray;
  border-radius: 25px;
  padding-bottom: 10px;

}

.imageStylin {
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  float: left;
}

.userDeets {
  margin-top: 20px;
}

.userName {
  font-size: 25px;
}
