
<!DOCTYPE html>
<html ng-app="twitchTele" ng-controller="TeleController">
<head>
 <title>Twitch Tv </title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
  <body ng-init="makeAPICall()">

    <div class="text-center">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" ng-click="displayAllUsers()" >All Users </button>
        <button type="button" class="btn btn-secondary" ng-click="displayOnlineUsers()" >Live Users </button>
        <button type="button" class="btn btn-secondary" ng-click="displayOfflineUsers()"> Offline Users</button>
      </div>
    </div>

    <div class="container" ng-repeat="(key, value) in results track by $index">
      <div class="imageStylin">
          <div class="thumbnail" ng-style="{'background-image': 'url({{value.logo}})'}" style="height: 150px; width 100px; overflow: hidden; background-size: cover; background-position: center;"></div> <br><br>
      </div>
      <div class="userDeets">
        <span class="userName">{{value.name}} </span> <span class="onlineStatus">(Currently {{value.online == true && "Online" || "Offline"}})</span>   <br><br>
         Bio:  {{value.bio}} <br><br>
        <span style="font-weight: bold;">{{value.status}}</span>
      </div>
    </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="controllers/TeleController.js" type="text/javascript"></script>
</body>
