
<!DOCTYPE html>
<html ng-app="twitchTele" ng-controller="TeleController">
<head>
 <title>Twitch Tv </title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
  <body>
  <button type="button" class="btn btn-secondary" ng-click="makeAPICall()">Make API Call</button> <br><br>

  <button type="button" class="btn btn-secondary" ng-click="findOfflineUsers()">Find Offline Users</button> <br><br>



  <div class="container" ng-repeat="(key, value) in allUsers">
    <div class="imageStylin">
        <div class="thumbnail" ng-style="{'background-image': 'url({{value.logo}})'}" style="height: 150px; width 100px; overflow: hidden; background-size: cover; background-position: center;"></div> <br><br>
    </div>
<!--     Logo: <div class="thumbnail" ng-style="{'background-image': 'url({{value.logo}})'}" style="height: 200px; width 100px;">{{value.logo}}</div> <br><br>
 -->    Name:  {{value.name}} <br><br>
    ID: {{idNum}}
    Bio:  {{value.bio}} <br><br>
  </div>



<!--   secondImageAttempt:     <div ng-style="{'background-image': 'url(http://s8.postimg.org/xkovvmfhh/lacosta.jpg)'}"></div>
 -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="controllers/TeleController.js" type="text/javascript"></script>
</body>
